/* Navbar links */
.nav-link {
  color: var(--headings);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 8px;
}
.nav-link:hover {
  color: var(--background);
  background-color: var(--links);
}
